<header id="compare">
    <h1>Compare</h1>
</header>
<p>This is where you will compare two versions of a game</p>
<table>
    <thead>
        <tr>
            <th></th>
            <th>This Game</th>
            <th>Next Game</th>
        </tr>
    </head>
    <tbody>
        <tr>
            <td>Pwning Noobs?</td>
            <td>Yup</td>
            <td>Nope</td>
        </tr>
        <tr>
            <td>Guns?</td>
            <td>Nope</td>
            <td>Sometimes</td>
        </tr>
    </tbody>
</table>
